.M_cart {
    padding: 20px;
    text-align: center;
    background-color: #FDEBEF;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }
  
 .bg-pink{
    background-color: #F433A7;
    border: none;
 }
 .bg-pink:hover{
    background-color: #F433A7;
 }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    
  }
  .m_image {
    height: 150px;
    width: 150px;
  }
  
  .item-info {
    
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
    text-align: center;
  }
  .item-info > img{
    margin: 10px;
  }
  .item-info > h3{
    margin: 10px;
  }
  .item-info > p{
    margin-left: 10px;
  }
  
  .item-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    width: 20%;
  }
  
  input[type="number"] {
    width: 50px;
  }
  
  .cart-total {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  