.AddtoCart{
    background-color: white!important;
    color: black!important;
    border: 1px solid black!important;
}
.w-400{
    width: 40%;
}
.buynow{
    background-color: #F43397;
    border: none;
}
.buynow:hover{
    background-color: #F43397;
    border: none;
}
.rating{
    display: flex;
}
.RateRating{
    width: 46px;
    height: 25px;
    background-color: #23BB75;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    color: white;
    font-size: 15px;
}
.Sizing{
    width: 46px;
    height: 25px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: none;
    border: 2px solid black;
}
.produtsTitle{
    color: rgba(128, 128, 128, 0.441);
    font-weight: 600;
    font-size: 15px;
}