.catagoriesList {
    content: "";
    position: absolute;
    top: 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: white;
    
}

*{
    font-family: Arial, Helvetica, sans-serif;
}
.textcolor{
    color: #F433A4;
    font-weight: lighter;
    font-size: 1.1rem;
}
.hovering{
    border: 2px solid #ffff;
}
.hovering:hover{
    border-bottom: 2px solid #F433A4;
   
}
.TextColor:hover{
    color: #F433A4!important;
}