.bgcolor{
    background-color: rgb(249, 249, 249)!important;
}
.fw-bolder1{
    font-weight: 700;
    font-size: 3rem;

}
.img-fluid1{
    width: 25px;
}
.bgcolorbtn{
    background-color: #F43397;
}
.bgcolorbtn:hover{
    background-color: #F43397;
    color: white;
}