*{
    font-family: Arial, Helvetica, sans-serif;
}
.Size-Logo{
    width: 85%!important;
}
.headerInputStyle{
    border: none!important;
    outline: none!important;
}
/* .search-header-icon svg{
    stroke-width:3;
} */
.w-751{
    width: 95%;
}
.search-header-icon input::placeholder{
    
    color:rgba(128, 128, 128, 0.639);
    /* font-weight: 500; */
}
.border2{
    border-bottom: 1px solid  rgba(128, 128, 128, 0.283);
}
.borderHeadr{
    border-right: 2px solid rgba(128, 128, 128, 0.55);
}
.font-weightNormal{
    font-size: 1.1rem;
    font-weight: 400;
    color: #474747;
    font-family: Arial, Helvetica, sans-serif;
}
.Download-App:hover{
    color: #F43397;
}
.Download-Appboder {
    border-bottom: 2px solid #fdfdfd;
}
.Download-Appboder:hover {
    /* padding-bottom: 10px; */
    border-bottom: 2px solid #F43397;
}
.position-relative1{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.position-abolute1{
    content: "";
    position: absolute;
    top: 62px;
    left: 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 35%;
    z-index: 1;
}  
.position-abolute12{
    content: "";
    position: absolute;
    top: 62px;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    /* width: 35%; */
    z-index: 1;
}  
.position-abolute1:hover .Download-Appboder {
    color: #F43397 !important;
    /* border-bottom: 2px solid #F43397; */
}
.profileHellow{
    margin: 0;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}
.TOaccessAc{
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
.SignUpBtn{
    background-color: #F43397;
    color: white;
    width: 100%;
    border: none;
    outline: none;

}
.SignUpBtn:hover{
    background-color: #F43397!important;
    color: white;

}
.MyOrder{
    font-family: Arial, Helvetica, sans-serif;
}