.rattingData {
    width: 46px;
    height: 25px;
    background-color: #23BB75;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    color: white;

    /* padding: 5px 3px; */
}
.textgrey{
    color: #8080809e;
}